@import "tailwindcss";

@font-face {
  font-family: inner;
  src: url("../fonts/Cardo/Cardo-Italic.ttf");
}
@font-face {
  font-family: innes;
  src: url("../fonts/Cardo/Cardo-Regular.ttf");
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  border-radius: 70px;
  background: #1B3764;
  position: absolute
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 70px;
  background: #24467cba;
}

::-webkit-scrollbar-track{
  color: #1B3764;
}

.contenr {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
