@import "tailwindcss";

@font-face {
  font-family: inner;
  src: url("../fonts/Cardo/Cardo-Italic.ttf");
}
@font-face {
  font-family: innes;
  src: url("../fonts/Cardo/Cardo-Regular.ttf");
}

button:hover {
  cursor: pointer;
}

.contenr {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
