@import "tailwindcss";

@font-face {
  font-family: inner;
  src: url("../fonts/Cardo/Cardo-Italic.ttf");
}
@font-face {
  font-family: innes;
  src: url("../fonts/Cardo/Cardo-Regular.ttf");
}

button:hover {
  cursor: pointer;
  box-shadow:
    rgba(27, 55, 100, 0.4) -5px 5px,
    rgba(27, 55, 100, 0.3) -10px 10px,
    rgba(27, 55, 100, 0.2) -15px 15px,
    rgba(27, 55, 100, 0.1) -20px 20px,
    rgba(27, 55, 100, 0.05) -25px 25px;
    border: none;
}

.contenr {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
